* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: url(img/bg-header.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 1024px;
  padding-top: 40px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__text {
  font-family: Raleway;
  font-size: 34px;
  line-height: 40px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__menu-list_padding {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 24px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.header__menu-list_padding:hover {
  color: #C7B299;
}

.carousel-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 915px;
}

.carousel__item {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-item__heading {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.carousel-item__head {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 61px;
  color: #FFFFFF;
}

.carousel-item__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  max-width: 562px;
}

.carousel-item__button {
  font-family: Roboto;
  font-style: normal;
  padding: 20px 42px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #988574;
  border-radius: 3px;
  margin-top: 40px;
  border: 0;
}

.carousel-item__button:hover {
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 10rem;
  height: 5rem;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 380px;
}

.services__item:hover .services__heading {
  color: #C7B299;
}

.services__item:hover .services__line {
  background: #C7B299;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 270px;
}

.services__img {
  margin-bottom: 30px;
}

.services__heading {
  font-family: Raleway;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #555555;
  margin-bottom: 20px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.services__text {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

.services__line {
  display: block;
  content: "";
  height: 3px;
  width: 70px;
  background: #F1EEE9;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

svg {
  fill: red;
}
/*# sourceMappingURL=style.css.map */