* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(img/bg-header.png);
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    align-items: flex-end;

}

.menu {
    display: flex;
    justify-content: flex-end;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.logo__text {}