* {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__container {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    background-image: url(img/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(17, 17, 17, 0.7);
    height: 1024px;
    padding-top: 40px;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo__header {
    display: flex;
}

// Тут обнулял отступы из-за бутстрапа, который не позволял центрировать элементы.
.logo__text {
    font-family: Raleway;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo__text_decoration {
    text-decoration: none;
}

.header__menu-list {
    display: flex;
    list-style: none;
}

.header__menu-list_padding {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 24px;
    transition: color 0.5s;
}

.header__menu-list_padding:hover {
    color: #C7B299;
}

.karusel {
    position: relative;
}

.carousel-indicators [data-bs-target] {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.carousel-inner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 915px;
}

// .carousel-item-next,
// .carousel-item-prev,
// .carousel-item.active {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 0 auto;
//     height: 915px;
// }

.carousel__item {
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.carousel-item__heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.carousel-item__head {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 61px;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.carousel-item__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    max-width: 562px;
}

.carousel-item__button {
    font-family: Roboto;
    font-style: normal;
    padding: 20px 42px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #988574;
    border-radius: 3px;
    margin-top: 40px;
    border: 0
}

.carousel-item__button:hover {
    box-shadow: inset 0 -3px 0 #736357;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 10rem;
    height: 5rem;
}

.services {
    display: flex;
    justify-content: space-around;
    min-height: 380px;
}

.services__item:hover {
    .services__heading {
        color: #C7B299;
    }

    // .services__line {
    //     background: #C7B299;
    // }

    // Это костыли, позже исправлю :)
    .services__design {
        content: url(img/design2.svg);
        transition: all 0.5s;
    }

    .services__dev {
        content: url(img/dev2.svg);
        transition: all 0.5s;
    }

    .services__marketing {
        content: url(img/marketing2.svg);
        transition: all 0.5s;
    }

    .services__custom {
        content: url(img/custom2.svg);
        transition: all 0.5s;
    }
}

.services__item:hover:after {
    background: #C7B299;
}

.services__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 270px;
}

.services__item::after {
    display: block;
    content: "";
    height: 3px;
    width: 70px;
    background: #F1EEE9;
    transition: background 0.5s;
}

.services__img {
    margin-bottom: 30px;
    transition: content 0.5s;
}

.services__heading {
    font-family: Raleway;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #555555;
    margin-bottom: 20px;
    transition: color 0.5s;
}



.services__text {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

// .services__line {
//     display: block;
//     content: "";
//     height: 3px;
//     width: 70px;
//     background: #F1EEE9;
//     transition: background 0.5s;
// }

// svg {
//     fill: red;
// }

.waxom-is-realization {
    background-color: #FBFAF8;
    padding-top: 80px;
}

.browsers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.browsers__heading {
    font-family: Raleway;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #555555;
    margin-bottom: 20px;
}

.browsers__text {
    font-family: Montserrat;
    max-width: 770px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8C8C8C;
    margin-bottom: 42px;
}

.purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    min-height: 150px;
}

.purchase__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase__heading {
    font-family: Raleway;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 6px;
}

.purchase__head_color {
    color: #C7B299;
}

.purchase__text {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #615855;
}

.purchase__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #988574;
    border-radius: 3px;
    border: 0;
    width: 170px;
    height: 53px;
}

.our-project {
    padding-top: 60px;
    min-height: 1160px;
}

.our-project__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.our-project__heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #555555;
    margin-bottom: 9px;
}

.our-project__text {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8C8C8C;
}

// Кнопки
.form_radio_group {
    display: flex;
    justify-content: center;
    margin-top: 27px;
    margin-bottom: 60px;
}

.form_radio_btn {
    display: inline-block;
    margin-right: 10px;
}

.form_radio_btn input[type=radio] {
    display: none;
}

.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 7px 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 3px;
    user-select: none;
}

.form_radio_btn input[type=radio]:checked+label {
    background: #998575;
}


// .form_radio_btn label:hover {
//     color: #666;
// }

// Кнопки

.our-project__grid {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 398px 398px;
    justify-content: space-around;
    align-items: center;
}

.item {
    position: relative;
    height: 337px;
    background-image: url(img/project-bg.svg);
}

.item:hover {
    .item__bottom {
        background-color: #352F2D;
    }

    .item__heading {
        color: #FFFFFF;
    }

    .item__text {
        color: #C7B299;
    }

    .item__bottom__img {
        opacity: 0%;
    }

    .item__img {
        opacity: 30%;
    }
}



.item__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FBFAF8;
    padding-left: 23px;
    height: 100px;
    transition: background-color 0.5s;
}

.item__heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #C7B299;
    transition: color 0.5s;
    margin-bottom: 8px;
}

.item__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
    transition: color 0.5s;
}

.item__img {
    transition: opacity 0.5s;
}

.item__bottom__img {
    position: absolute;
    left: 14px;
    bottom: 99px;
    opacity: 100%;
    transition: opacity 0.5s;
}

.our-project__button_position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-project__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #988574;
    border-radius: 3px;
    padding: 19px 47px;
    border: 0;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/bg_video_presentation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 705px;
}


.presentation__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .presentation__img {
        padding-bottom: 30px;
    }
}

.presentation__heading {
    font-family: Raleway;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.presentation__text {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    max-width: 570px;
}

.presentation__text_color {
    color: #C7B299;
    margin-top: 18px;
}

.mobile {
    display: flex;
    align-items: flex-end;
    background: #FBFAF8;
    min-height: 684px;
}

.mobile-devices {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iphone {
    margin-right: 64px;
}

.mobile-content {
    display: flex;
    flex-direction: column;
}

.mobile-content__heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #555555;
    margin-bottom: 20px;
}

.mobile-content__p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #8C8C8C;
    max-width: 670px;
}

.mobile-content_margin {
    margin-bottom: 49px;
}

.mobile-content__list {
    display: flex;
    flex-direction: column;
    padding-left: 68px;
}

.mobile-content__img {
    padding-right: 8px;
}

.counters {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    height: 211px;
    display: flex;
}

.counter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 786px;
}

.counter-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.counter-item::after {
    content: "";
    display: block;
    content: "";
    height: 2px;
    width: 30px;
    background: #FFFFFF;
}

.counter-item__heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.counter-item__p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #C7B299;
    margin-bottom: 15px;
}

.recent-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 38px;
}

.recent-posts__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resent-posts__heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #555555;
    margin-bottom: 20px;
}

.resent-posts__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #8C8C8C;
    max-width: 770px;
    margin-bottom: 30px;
}

.recent-posts__grid {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 395px;
    justify-content: center;
    align-items: center;
    grid-column-gap: 85px;
}

.recent-item {
    height: 400px;
    width: 372px;
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    position: relative;
    transition: background-color 0.5s;
}

.recent-item:hover {
    background-color: #362f2d;

    .recent-item_img {
        opacity: 30%;
    }

    .recent-item__bottom {
        background-color: #362f2d;
    }

    .recent-item__heading {
        color: #C7B299;
    }

    .recent-item__text {
        color: #FFFFFF;
    }

    .recent-date__heading {
        background: #C7B199;
    }

    .recent-date__text {
        background: #A48D71;
    }
}

.recent-item_img {
    background-color: rgba(17, 17, 17, 0.7);
    transition: opacity 0.5s;
}

.recent-item__bottom {
    background-color: #FFFFFF;
    transition: background-color 0.5s;
    padding-top: 31px;
    padding-left: 23px;
}

.recent-item__heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
    margin-bottom: 22px;
    transition: color 0.5s;
}

.recent-item__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    transition: color 0.5s;
    margin-bottom: 17px;
}

.recent-date {
    position: absolute;
    left: 23px;
    top: 17px;
    height: 60px;
    width: 50px;
}

.recent-date__heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    background: #363636;
    border-radius: 3px 3px 0px 0px;
    margin-bottom: 0;
    transition: background-color 0.5s;
}

.recent-date__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    background: #242424;
    border-radius: 0px 0px 3px 3px;
    padding: 6px 13px 5px;
    transition: background-color 0.5s;
}

.read-more {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #C7B299;
    text-decoration: none;
}

.read-more:hover {
    color: #C7B299;
}

.read-more__img {
    padding-left: 9px;
}

.recent-posts__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    border: 2px solid #D1D1D1;
    border-radius: 50%;
    box-sizing: border-box;
    color: #D1D1D1;
    transition: border-color 0.5s, color 0.5s;
    margin-top: 54px;
}

.fas:hover {
    color: #C7B299;
    border-color: #C7B299;
    ;
}

.fa-chevron-left {
    margin-right: 18px;
}

.partners {
    display: flex;
    align-items: center;
    height: 489px;
    background-image: url(img/bg_partners.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.partners__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191919;
}

.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 510px;
}

.footer__header {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 74px;
    margin-right: 72px;
}

.footer__item {
    width: 270px;
}

.footer__hover:hover {
    .footer__heading {
        color: #FFFFFF;
    }

    .footer_p {
        color: #C7B299;
    }
}

.footer__item_margin {
    margin-right: 49px;
}

.footer__head {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer__heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #363636;
    margin-bottom: 6px;
    transition: color 0.5s;
}

.footer_p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    transition: color 0.5s;
}

.footer__read-more {
    margin-bottom: 18px;
}

.footer__flex {
    display: flex;
    align-items: center;

}

.footer__br::after {
    content: "";
    display: block;
    content: "";
    height: 1px;
    width: 270px;
    background: #242424;
    margin-top: 16px;
    margin-bottom: 12px;

}

.footer__item_grid {
    // display: grid;
    // grid-template-columns: 135px 135px;
    // grid-template-rows: 98px 98px;
    // column-gap: 8px;
    // row-gap: 11px;
    display: flex;
    flex-wrap: wrap;
}

.footer__margin {
    display: flex;
    align-self: flex-start;
    margin-bottom: 18px;
}

.footer__img_magrin {
    margin-right: 8px;
}

.footer__img_magrin-bottom {
    margin-bottom: 9px;
}

.footer__heading_p {
    margin-bottom: 6px;
}

.footer__copy {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 115px;
    background: #101010;
}

.footer__copy_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #555555;
    text-align: start;
    margin-right: 25px;
    transition: color 0.5s;
}

.footer__copy_text:hover {
    color: #BAA78F;
}

.footer__copy_flex {
    display: flex;
    justify-content: center;
    align-items: center;

}